<template>
    <div :class="[$style.component, 'p-3', 'mb-5']">
        <h5 class="text-center">
            Featured Product!
        </h5>
        <div v-if="featuredProduct">
            <img
                class="d-block"
                :src="featuredProduct.image"
                :alt="featuredProduct.name"
            >
            <div class="pt-3">
                <h6>
                    {{ featuredProduct.name }}
                    ${{ price }}
                </h6>
                <cart-controls-add
                    add-button-text="+"
                    :add-to-cart-loading="addToCartLoading"
                    :add-to-cart-success="addToCartSuccess"
                    :allow-add-to-cart="allowAddToCart"
                    :product="featuredProduct"
                    @add-to-cart="$emit('add-to-cart',$event)"
                />
            </div>
        </div>
    </div>
</template>

<script>
import formatPrice from '@/helpers/format-price';
import CartControlsAdd from '@/components/product-show/cart-add-controls';

export default {
    name: 'ShoppingCartSidebar',
    components: {
        CartControlsAdd,
    },
    props: {
        addToCartLoading: {
            required: true,
            type: Boolean,
        },
        addToCartSuccess: {
            required: true,
            type: Boolean,
        },
        allowAddToCart: {
            required: true,
            type: Boolean,
        },
        featuredProduct: {
            type: Object,
            required: true,
        },
    },
    computed: {
        price() {
            return formatPrice(this.featuredProduct.price);
        },
    },
};
</script>

<style lang="scss" module>
@import '~styles/components/light-component.scss';

.component :global {
  @include light-component;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
</style>
