<template>
    <div :class="[$style.component,'row','p-3']">
        <div class="col-2">
            {{ item.product.name }}
        </div>
        <div class="col-1">
            <span
                :style="{backgroundColor:`#${hexColor}`}"
                class="color-square"
            />
        </div>
        <div class="col-3">
            <input
                :value="item.quantity"
                class="form-control"
                min="1"
                type="number"
                @input="updateQuantity"
            >
        </div>
        <div class="col-3">
            ${{ totalPrice }}
        </div>
        <div class="col-3">
            <button
                class="btn btn-info btn-sm"
                @click="$emit('remove-from-cart')"
            >
                Remove
            </button>
        </div>
    </div>
</template>

<script>
import formatPrice from '@/helpers/format-price';

export default {
    name: 'ShoppingCartItem',
    props: {
        item: {
            required: true,
            type: Object,
        },
    },
    computed: {
        hexColor() {
            return this.item.color ? this.item.color.hexColor : 'fff';
        },
        totalPrice() {
            return formatPrice(this.item.quantity * this.item.product.price);
        },
    },
    methods: {
        updateQuantity(event) {
            this.$emit('update-quantity', {
                quantity: parseFloat(event.target.value),
            });
        },
    },
};
</script>

<style lang="scss" module>
@import "~styles/variables/colors.scss";

.component :global {
  border-bottom: 1px solid $light-component-border;

  .color-square {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 4px;
  }

  input {
    width: 60px;
  }
}
</style>
